# Final Project: Student Performance Analysis
### Group Members: Francisco Belliard, Arturo Fillio Villa, Rachel Bergeron, Sophia Ashiqueal

#### Import libraries

In [6]:
library(ggplot2)
library(dplyr)

#### Import dataset

In [7]:
# create temp file to hold zip file
temp <- tempfile()
# download dataset from UCI repo
download.file("https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip",temp)
# unzip data
files <- unzip(temp)
# import csv tables
d1 <- read.table(files[1],sep=';',header=TRUE)
d2 <- read.table(files[2],sep=';',header=TRUE)
# run script to merge dataset d1 and d2 into one large dataset d3
source(files[3])
# print the first 5 elements
head(d3,5)

[1] 382

  school sex age address famsize Pstatus Medu Fedu Mjob     Fjob     ⋯ famrel.y
1 GP     F   15  R       GT3     T       1    1    at_home  other    ⋯ 3
2 GP     F   15  R       GT3     T       1    1    other    other    ⋯ 3
3 GP     F   15  R       GT3     T       2    2    at_home  other    ⋯ 4
4 GP     F   15  R       GT3     T       2    4    services health   ⋯ 4
5 GP     F   15  R       GT3     T       3    3    services services ⋯ 4
  freetime.y goout.y Dalc.y Walc.y health.y absences.y G1.y G2.y G3.y
1 1          2       1      1      1        4          13   13   13
2 3          4       2      4      5        2          13   11   11
3 3          1       1      1      2        8          14   13   12
4 3          2       1      1      5        2          10   11   10
5 2          1       2      3      3        2          13   13   13

#### Create dataframe using select data to be analyzed

In [15]:
# analyzing health col and G3 col from main dataset
df <- data.frame(d3$health.y,d3$G3.y)